@charset "UTF-8";
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}
.wrap{
    flex-wrap: wrap;
}
.col-6{
    width: 50%;
}
.col-3{
    width: 25%;
}
.col-9{
    width: 75%;
}
.container img.no-border{
    border: none;
}
.small-font{
    font-size: 1.7rem;
}
.reveal h1{
    font-size: 2.7em;
}
.reveal h2{
    font-size: 2.1em;
}
figcaption{
    font-size: 2.3vw;
}

article > h4 + small{
    padding-top: 7px;
}

article{
    text-align: left;
}